@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.min-h-calc{
  min-height: calc(100vh - 4rem);
  margin-top: 4rem
  }

.chat-layout{
    border-top: 1px solid #dfdfdf;
    /* height: calc(100vh - 4rem); */
    height:100%;
    display: grid;
    grid-template-columns: 518px 1fr auto;
    grid-template-rows: 89px 1fr;
    /* overflow-y: scroll;  use this when its possible*/ 
}

.chat-layout .chatTopbar{
  grid-area: 1/1/2/4;
  display: grid;
  grid-template-columns: 518px auto;
}

.chat-layout .conversationList{
    border-right: 1px solid #dfdfdf;
    height: 100%;
    overflow: hidden;
    grid-area: 2/1/3/2;
}

.chat-layout .chatStreamContainer{
  width: 100%;
  height: 100%;
  grid-area: 2/2/3/3;
  display: grid;
  grid-template-rows: 1fr auto;
  /* overflow-y: hidden; */
}
